<h1 class="title">About Babson College</h1>

<div class="row">
	<div class="span4">
	<%= image_tag("babson_logo.png", :id => "babson-logo") %>
	</div>

	<div class="span8">
		<p id="about-babson">
			Babson College is one of the most highly ranked schools for entrepreneurship in the world, having received many accreditations for both its undergraduate and graduate programs. Babson's undergraduate school has been ranked #1 in entrepreneurship for the 16 consecutive years that this ranking has been given. Likewise, Babson’s MBA program has been ranked #1 in entrepreneurship for 19 consecutive years by U.S. News & World Report. Both programs cultivate successful business leaders of tomorrow globally and are known for their entrepreneurial culture that extends well beyond the classroom environment. Babson shapes the leaders that our world needs most: those with strong functional knowledge and the skills and vision to navigate change, accommodate ambiguity, surmount complexity, and motivate teams in a common purpose to create economic and social value.
		</p>
	</div>
</div>