<h1 class="title">About</h1>

<p>
	The Babson Mexican Association was created to promote relationships between Mexican students at Babson College’s Undergraduate and Graduate programs. Likewise, the organization has reached out to Mexican groups at other colleges and universities in the Boston area to promote networking events amongst the entire Mexican student population in Boston. Our organization encourages an understanding of the Latin culture, promotes networking activities, and highlights entrepreneurship opportunities in Mexico. The Babson Mexico Association prides itself in leading the mission of linking students in the Boston area who promise to be significant part of Mexico’s bright future.
</p>