<div class="row">
		<div class="span4">
			<h3 class="title">Contact Info</h3>

			<p id="contact-info"> Please direct questions, suggestions and inquiries to the following: babsonmexico@babson.edu
			</p>

			<h3 class="title">Directions</h3>

			<p id="location">The main Babson College residential campus is located at 231 Forest Street, Wellesley, Massachusetts (GPS address). The campus is approximately 14 miles (22.5 km) west of Boston. (Google Maps image set on Babson Campus)</p>

		</div>

	<div class="span6">
		<div class="map">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Babson+College,+Wellesley,+MA&amp;aq=1&amp;oq=babs&amp;sll=42.31435,-70.970284&amp;sspn=0.296525,0.420227&amp;ie=UTF8&amp;hq=Babson+College,+Wellesley,+MA&amp;t=m&amp;ll=42.298135,-71.269169&amp;spn=0.005555,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Babson+College,+Wellesley,+MA&amp;aq=1&amp;oq=babs&amp;sll=42.31435,-70.970284&amp;sspn=0.296525,0.420227&amp;ie=UTF8&amp;hq=Babson+College,+Wellesley,+MA&amp;t=m&amp;ll=42.298135,-71.269169&amp;spn=0.005555,0.00912&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</div>
	</div>
</div>
