<h1 class="title">2013 Babson Mexican Conference</h1>

<ul>
	<li>April 26th, 2013, 9:00 AM-5:00PM</li>
	<li>Kight Auditorium, Babson College</li>
	<li> “Buy Your Tickets Now” button with link to eventbrite page.</li>
	<li><p>
	The 2013 Babson Mexican Conference promises to be a dynamic and interactive event-- engaging visionary speakers who will address students and entrepreneurs in all of the Boston area. The student-run Babson Mexican Conference will feature the stories of noteworthy entrepreneurs, executives and politicians who have had an impact on the development of the Mexico through their entrepreneurial drive and mindset. The event will feature a welcome by Babson’s President, Len Schlesinger, keynote speeches, and a series of panel discussions. Finally, the event will conclude with a networking reception that will provide attendees with an opportunity to interact with speakers in an informal setting. Attendees will learn about the challenges and opportunities in Mexico from top Mexican leaders.</p>
	</li>
</ul>