
<div id="myCarousel" class="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
    	<center><%= image_tag("mexico_flag.png", :class => "banner") %></center>
    </div>
    <div class="item">
    	<center><%= image_tag("mexico_flag2.jpg", :class => "banner" ) %></center>
    </div>
    <div class="item">
    	<center><%= image_tag("mexico_flag3.jpeg", :class => "banner") %></center>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>