<div class="row">
	<div class="span8">
		<h3 class="title"> Mexico </h3>
		<p id="mp" >Mexico has the second-largest economy in Latin America and is a major oil producer and exporter. The country has significant problems that are very important to address. However, Mexico’s three major political parties have recently signed a “Pact for Mexico,” to work together to fight the big energy, telecom and teacher monopolies that have held Mexico back. In recent years, Mexico has edged ahead of Brazil in terms of opportunities for investment and development, according to the International Business Report (IBR), by Grant Thornton International. The emerging markets index shows China, India and Russia still occupying the top three places followed by Mexico in fourth and Brazil in fifth. However, out of the top five emerging markets, Mexico's GDP per capita comes out ahead of China, India and Brazil and is a close second to Russia. Mexico's appearance in fourth place reflects its substantial international trade (combined exports and imports are second only to China) and its relatively high standard of living. Mexico's position comes as no surprise as the Mexican economy has had unprecedented stability for the last several years. Inflation and the peso have been stable and the country has signed 44 free trade agreements; more than any country in the world, more than twice as many as China and four times more than Brazil. As a result exports have surged. Mexico also benefits from well qualified labor, together with powerful manufacturing and assembly industries. Its proximity to the US, too, is an important feature. We hope that the events held by the Babson Mexican Association will help promote Mexico’s increasingly positive image.</p>
	</div>

	<div class="span4">
		<%= image_tag("mexico_flag.png", :size => "295x197", :id => "flag") %>
	</div>


</div>