@import "bootstrap";

/* mixins, variables, etc. */

$red: #C00000;
$green: #006600;
$grey: #BABABA;

/* universal */

html {
  overflow-y: scroll;
}

body {
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

.title {
  margin-left:10%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h3 {
  color:#A00000;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
	margin-left:15px;
	margin-right:15px;
}

/* header */

.header {

}

.navbar {
opacity:1.0;
background-image: none;
margin-top:-41px;
}

  .navbar-inner {
    background: $green;
    opacity:.7;
    filter: none;
    margin-left:23.1%;
}

.navbar .nav > li > a {
  margin-left:10px;
  text-shadow: none;
  color: #FFFFFF;
  }

.nav {
padding-left:10px;
text-shadow: none;

}

#logo {
position:absolute;
margin-left:10%;
top:60px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* Footer */

footer {
  background-color:#C0C0C0;
  height:100px;
  width:100%;
  margin-top: 45px;
  padding-top: 5px;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
/* Carousel */
.back {
  background-color:#006600;
  opacity:.8;
  border:solid 1px #006600;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-bottom:10px;
}

.banner {
  border:solid 5px #006600;
}

.item {
	margin: auto;
  position:absolute;
  z-index:-1;
}
.carousel {
	margin-top:1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:20px;
  z-index:-2;
  height:70%;
  width:70%;
}
/* Home */

.box {
}

/* Directions */

.map {
  margin-top:15px;
  margin-left:10%;
}

#location{
  margin-left:10%;
  text-align:justify;
}

/* Contact Info */

#contact-info{
  margin-left:10%;
  margin-bottom:20%;
}

/* Mexico Profile */

#mp {
  margin-right:100px;
  margin-left:10%;
  text-align:justify;
}

#flag {
  margin-top:50px;
  width:295px;
  height:197;
  border:solid $grey 5px;
  opacity:0.8;
}

/* About */
#ap {
  margin-left:10%;
  text-align:justify;
}

#about-image{
  width:65%;
  height:65%;
  margin-top:10%;
  margin-left:100px;
}

/* About Babson College */

#babson-logo {
margin-top:80px;
margin-left:50px;
}

#about-babson {
  margin-left:10%;
  text-align:justify;
}

/* The Team */

.member {
  border: solid 5px;
  margin-top:15px;
}

.team {
  margin-left:10%;
  opacity:0.8;
}

.team_member_name {
  margin-left:95px
}

.team_member_bio {
  margin-left:95px;
  text-align:justify;
}

.team_member_role {
  margin-left:95px;
}

/* Event One */

#event_description {
  text-align:justify;
  margin-left:10%;
}

#event_info {
  margin-top:15px;
  margin-left:50px;
}

/* Speakers */

.speaker_title {
  margin-left:39px;
}

.speaker {
  margin-left:40px;
  text-align:justify;
}

.speaker_image {
  margin-top:15px;
  border:solid 5px;
}