@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

.title {
  position:absolute;
  top:40px;
  margin-left:200px;

}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
	margin-left:15px;
	margin-right:15px;
}

/* header */

.navbar {
margin-top:60px;
margin-right:100px;
margin-left:100px;
opacity:2.0;
color:#C00000;
}

.navbar {
  .navbar-inner {
    background-color: #C00000;
    width: 700px;
  }
}

.nav {
padding-left:50px;
}

#logo {
position:absolute;
margin-left:10%;
top:5px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* Footer */

.footer {
  background-color:#C0C0C0;
  height:300px;
}

.bottom {
    border-radius:40px;
  -moz-border-radius:25px; /* Old Firefox */
}
/* Carousel */

.banner {
   border:2px solid #a1a1a1;
  background:#dddddd;
  width:500px;
  border-radius:40px;
  -moz-border-radius:25px; /* Old Firefox */
}

.item {
	margin: auto;
  position:absolute;
  z-index:-1;
  width:295px;
  height:197px;
}
.carousel {
	margin-top:1%;
}

/* Directions */

.map {
  text-align:center;
  margin:auto;
  border:2px solid #a1a1a1;
  background:#dddddd;
  width:90%;
  border-radius:40px;
  -moz-border-radius:25px; /* Old Firefox */
  margin-bottom:10px;
}

/* Mexico Profile */

#mp {
  font-family: bold;
  border: solid 5px;
}

#flag {
  float: right;
  width:295px;
  height:197;
  border:solid 5px;
}

/* About Babson College */

#babson-logo {
 
}

#about-babson {
}

/* The Team */

.member {
  border: solid 5px;
}